<!DOCTYPE html>
<html>
  <head>
    <title>SocketExpress</title>
    <style>
    </style>
  </head>
  <body>
    <h1>SocketExpress</h1>
    <div id="all_games">
      
    </div>
    <a href="/host">Host Game</a>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.on('game generated', function(game_id) {
        const a = document.createElement("a");
        a.href = "/join/" + game_id;
        a.innerText = game_id;
        document.getElementById("all_games").appendChild(a);
        const br = document.createElement("br")
        document.getElementById("all_games").appendChild(br)
      })
      for (game_id of ("<%= all_ids %>".split(","))) {
        if (game_id != ""){
          const a = document.createElement("a");
          a.href = "/join/" + game_id;
          a.innerText = "Join Game: " + game_id;
          document.getElementById("all_games").appendChild(a);
          const br = document.createElement("br")
          document.getElementById("all_games").appendChild(br)
        }
      }
    </script>
  </body>
</html>
